h1 {
    text-align: center;
    color: wheat;
}

body {
    background-color: rgb(15, 15, 13);
    color: rgb(166, 218, 24);
    margin: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: rgb(255, 253, 253);
    text-decoration: underline;
}

a:link {
    color: red;
}

a:visited {
    color: turquoise;
}

a:hover {
    color: goldenrod;
}

ul {
    text-align: center;
}

li {
    text-align: justify;
}

p {
    text-align: left;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: right;
    padding-bottom: 20px;

}

video {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.5;
}

video:hover {
    opacity: 1;
}